.editorconfig
.bundle
.DS_Store
.idea
.powrc
.powenv
.rbenv-version
.rvmrc
.sass-cache/
/nbproject/private/
/public/assets/
chromedriver.log
config/database.yml
config/settings/local.yml
data
db/*.sqlite3
log/*.log
nbproject/
node_modules/
public/cache
public/uploads
salesworker.sublime-project
salesworker.sublime-workspace
.tags
.tags_sorted_by_file
spec/reports/
tags
rspec.failures
tmp/
vendor/bundle
.ruby-version
*.TODO
config/database.yml
.idea/
# Ignore application configuration
/config/application.yml
