
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>The service was added!</h1>
<p>
  Hello,
   
  One of the Company did service for you Item.
  Please log in your personal account in distodi.com and confirm that you have agreed the Service with 48 hours.
   
  Complete your profile within the next seven days. Please for more information go to:    
  http://distodi.com/static_pages/tutorialcar  Manual for car
  http://distodi.com/static_pages/tutorialbike Manual for bicycle
   
   
  Just begin!
   - distodi Customer Service Team

</p>
</body>
</html>