
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Confirmation Your distodi.com account!</h1>
<p>
  Hello,
   
  Congratulations you start to use distodi.com a service for everything! Now you will be able to keep value of what you have!   
   
   
  Your user name is: <%= @user.first_name %>
   
   
  Complete your profile within the next seven days. Please for more information go to:    
  http://distodi.com/static_pages/tutorialcar  Manual for car
  http://distodi.com/static_pages/tutorialbike Manual for bicycle
   
  Distodi establishing trust between customers and service companies, and as the result between future buyers and sellers
  <p> ✔ Clear prove of the services that were done </p>
  <p>  ✔ Track your service activity </p>
  <p>  ✔ Access to your service book from everywhere </p>
  <p>  ✔ Adding additional value </p>
  <p>  ✔ Download, print, or send history of service </p>
   
  You can keep history of the service, print, safe or send service history.
  Feel free to contact us if you have any questions.
   
  Just begin!
    - distodi Customer Service Team
</p>
</body>
</html>