
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Please use distodi.com</h1>
<p>
  Hello,
   
  You have invite from user distodi.com.
  Please go to the link and finish registration!   
  <%= edit_company_registration_path(@company) %>
   
  Your email is: <%= @company.email %>
   
  Distodi establishing trust between customers and service companies, and as the result between future buyers and sellers
  <p> ✔ Clear prove of the services that were done </p>
  <p>  ✔ Track your service activity </p>
  <p>  ✔ Access to your service book from everywhere </p>
  <p>  ✔ Adding additional value </p>
  <p>  ✔ Download, print, or send history of service </p>
   
  You can keep history of the service, print, safe or send service history.
  Feel free to contact us if you have any questions.
   
  Just begin!
    - distodi Customer Service Team
</p>
</body>
</html>