<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Keep your calendar updated</h1>
<p>
  Hello <%= @user.full_name %>,
   
  Please, add attached events to your calendar to keep your calendar up to date.
   
  Just begin!
   - distodi Customer Service Team
</p>
</body>
</html>
