@font-face {
	font-family: 'MuseoSansCyrl_1';
	src: url('../fonts/MuseoSansCyrl_1.eot');
	src: url('../fonts/MuseoSansCyrl_1.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MuseoSansCyrl_1.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl_1.ttf') format('truetype');
		 
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl_2';
	src: url('../fonts/MuseoSansCyr2_1.eot');
	src: url('../fonts/MuseoSansCyrl_2.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MuseoSansCyrl_2.woff') format('woff'),
		 url('../fonts/MuseoSansCyrl_2.ttf') format('truetype');
		 
	font-style: normal;
	font-weight: normal;
}


