<div class="margin_left"><p id="notice"><%= notice %></p>

<h1>Companies</h1>
  <% @all_companies.each do |company| %>
  <div style="width: 300px; height: 210px; float: left;">


    <div class="thumbnail_grid" style="margin: 10px 10px 0 0;">
      <%= picture_show(company) %>
    </div>

  </div><p style="margin-top: 230px"><strong ><%= company.name %></strong></p><% end %>
</div>