
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Please confirm your service!</h1>
<p>
  Hello,
   
  One of the Company did service for you Item.
  Please log in your personal account in distodi.com and confirm that you have agreed the Service.
   
  Just begin!
   - distodi Customer Service Team

</p>
</body>
</html>