
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>The service is confirmed!</h1>
<p>
  Hello,
   
  We would like to inform you that one of your Customer confirmed Service that you did.
  Please log in your personal account in distodi.com  
   
  Complete your profile within the next seven days. Please for more information go to:    
  http://distodi.com/static_pages/tutorialcar  Manual for car
  http://distodi.com/static_pages/tutorialbike Manual for bicycle
   
  Just begin!
   -  distodi Customer Service Team

</p>
</body>
</html>