
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>The service is confirmed!</h1>
<p>
  Hello,
   
  We would like to inform you that one of your Customer confirmed Service that you did.
  Please log in your personal account in distodi.com  

  Just begin!
   -  distodi Customer Service Team

</p>
</body>
</html>