<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @attribute_kind.title %>
</p>

<%= link_to 'Edit', edit_attribute_kind_path(@attribute_kind) %> |
<%= link_to 'Back', attribute_kinds_path %>
