<div class="donation_background">
  <div class="donation_content">
    <%= t(".donation_text").html_safe %>
    <div class="donation_photo">
      <div class="description">
        <%= t(".iryna").html_safe %>
      </div>
      <%= image_tag "Iryna_Distodi_Donate_page.jpg" %>
    </div>
    <%= render 'form' %>
  </div>
</div>
