<%= form_for item, url: transfer_item_path(item), method: "POST" do |f| %>
  <div class="inputs_trans">
    <%= text_field_tag "user_identifier" %>
    <%= f.submit t(".transfer_submit"), data: { confirm: t(".confirm_transfer") } %>
  </div>
<% end %>
