  <div class="first_content">
    <div class="circle">
      <%= link_to new_item_path do %>
        <p class="plus">+</p>
      <% end %>
    </div>
    <p>Hey, <%= current_user.first_name %>,</p>
    <%= link_to "Add your first item", new_item_path %>
    <p>to track all it’s Service log entries</p>
  </div>
