$('.custom_attributes').empty();
<% @attributes.each do |attribute| %>
$('.custom_attributes').append($('<label for="characteristics<%= attribute.id %>"><%= attribute.title %></label>'));
$('.custom_attributes').append($('<input type="text" name="item[characteristics[<%= attribute.id %>]]" id="characteristic<%= attribute.id %>">'));
<% end %>