<div class="report_content">
  <div class="report_header">
    <%= image_tag wicked_pdf_asset_base64('logo_report.png'), width: "25px" %>
    <h1>Distodi</h1>
    <h2>Report for your <%= @item.title %></h2>
  </div>
</div>
