<div class="footer">
  <p>
    Distodi. Service book for everything. Track all services for all your - cars, bicycles, tractors, yachts etc.,
  </p>
  <p>
    Distodi is single platform for any brands. Not having a full-service history can wipe almost a quarter off the value of a used car, bicycle, computer, house or any other your property. For the honest owner, will be very easy to add value by legitimately tracking down a service history.
  </p>
</div>
