<h1><%= @item.title %></h1>

<table>
  <thead>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  </thead>

  <tbody>
  <% @item.characteristics.each do |characteristic| %>
      <tr>
        <td><%= characteristic.attribute_kind.title %></td>
        <td><%= characteristic.value %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to 'Back to my panel', user_path(@item.user) %></p>
