@font-face {
  font-family: 'MuseoSansCyrl_1';
  src: font-url('MuseoSansCyrl_1.eot');
  src: font-url('MuseoSansCyrl_1.eot?#iefix') format('embedded-opentype'), font-url('MuseoSansCyrl_1.woff') format('woff'), font-url('MuseoSansCyrl_1.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl_2';
  src: font-url('MuseoSansCyr2_1.eot');
  src: font-url('MuseoSansCyrl_2.eot?#iefix') format('embedded-opentype'), font-url('MuseoSansCyrl_2.woff') format('woff'), font-url('MuseoSansCyrl_2.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
