/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1610px) {
  .all_items_first {
    width: 273px;
  }
  .red_col {
    width: 135px;
    height: 101.25px;
  }

  .transfer_panel .receive p {
    margin-top: 33%;
  }

  .all_items_first span {
    line-height: 101.25px;
    font-size: 14px;
  }
}
@media only screen and (max-width : 1450px) {
  .all_items_first {
    width: 250.5px;
  }
  .red_col {
    width: 121.5px;
    height: 91.125px;
  }

  .all_items_first span {
    line-height: 91.125px;
    font-size: 16px;
  }
}
@media only screen and (max-width : 1360px) {
  .bacground_green .content .text{
    margin-left: 9%;
  }
  .bacground_green .content .slider{
    margin-right: 9%;
  }
  .function .transfer{
    height: 160px;
  }
  .function .delete{
    height: 160px;
  }
}
@media only screen and (max-width : 1300px) {
  .all_items_first {
    width: 200px;
  }
  .red_col {
    width: 100px;
    height: 75px;
  }

  .all_items_first span {
    line-height: 75px;
    font-size: 16px;
  }

  .function .transfer img {
    right: 35%;
  }

  .function .transfer p {
    width: 42%;
  }

  .function .delete img {
    right: 90px;
  }
}
@media only screen and (max-width : 1280px) {
  .bacground_green .content .text{
    margin-left: 3%;
  }
  .bacground_green .content .slider{
    margin-right: 3%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1140px) {
  .function .transfer img {
    right: 41%;
  }

  .function .transfer p {
    width: 38%;
  }

}
@media only screen and (max-width : 1120px) {
  .bacground_green .content .text{
    width: 40%;
  }
}
@media only screen and (max-width : 1024px) {
  .second_text{
    width: 80%;
  }
  .bacground_green .content .text{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    margin: 0 0 25px 0;
  }
  .bacground_green .content .text .info{
    width: 100%;
    text-align: center;
  }
  .bacground_green .content .text .info_small{
    width: 100%;
    text-align: center;
  }
  .bacground_green {
    height: 1000px;
  }
  .bacground_green .content .slider{
    margin-right: calc(50% - 270px);
  }
  .function .transfer{
    height: 200px;
  }
  .function .delete{
    height: 200px;
  }
}

@media only screen and (max-width : 955px) {
  .service_create_identity p{
    display: none;
  }
  .service_create_identity{
    text-align: center;
    width: 100%;
  }
  .right_form_service_create{
    width: 620px;
    margin-left: 0;
    margin-top: 50px;
  }
  .photo_field{
    display: none;
  }
  .blank_image{
    display: none;
  }
}

@media only screen and (max-width : 917px) {
  .delete_but{
    top: 71px;
  }
  .function .transfer input{
    margin-top: 24px;
  }
}

@media only screen and (max-width : 768px) {
  .sent_image{
    margin-top: 30px;
  }
  .actions_but a{
    padding: 11px calc(43% - 39px)
  }
  .function .transfer{
    padding-bottom: 70px;
  }
  .function .delete .delete_but input[type=submit]{
    left: 64px;
    top: 5px;
    padding-left: 30px;
    background-position: calc(54% - 61px);
    padding-top: 3px;
    width: 95%
  }
  .signup_form .done_button{
    margin-top: 50px;
  }
  .bacground_green {
    height: 625px;
  }
  .bacground_green .content .text{
    margin: 0 10% 40px;
    width: 80%;
    text-align: left;
  }
  .bacground_green .content .text .info{
    text-align: left;
  }
  .bacground_green .content .text .info_small{
    text-align: left;
  }
  .bacground_green .content .slider{
    margin: 0;
  }
  .menu {
    display: none;
  }

  .logo_mobile {
    display: block;
  }

  .logo {
    display: none;
  }

  .text {
    width: 70%;
    margin: 0 10% 40px;
  }

  .content .info {
    font-size: 30px;
    line-height: 32px;
    width: 100%;
  }

  .header {
    height: 81px;
  }

  .info_small {
    font-size: 17px;
    width: 100%;
    line-height: 19px;
  }

  .slider {
    background-color: transparent;
    margin: 0;
    width: 100%;
    height: 320px;
  }

  .container_slider {}

  .container_slider p {
    display: none;
  }

  .items {
    width: 500px;
    margin: 0;
  }

  .items img {
    margin: 0 36% 0 0;
  }

  .container_slider .button {
    width: 80%;
  }

  .owl-carousel {
    width: 100%;
  }

  .more_info .more {
    margin: 10px 0 0;
  }

  .arrow img {
    margin-bottom: 10px;
  }

  footer {
    height: 300px;
    text-align: center;
  }

  footer .footer {
    padding: 40px 10% 0;
    text-align: center;
  }

  .footer ul {
    display: none;
  }

  .footer .contacts {
    display: none;
  }

  .footer .contacts_mobile {
    display: inline-block;
  }

  .telephone_mobile {
    display: inline-block;
  }

  footer hr {
    display: inline-block;
  }

  footer img {
    float: left;
    margin: 20px;
  }

  .btn_menu {
    display: inline-block;
    position: relative;
    right: -110px;
  }
  .header.main_page .btn_menu{
    right: 0;
  }

  .menu_mobile {
    display: inline-block;
    height: 100%;
  }
  .owl-item .items {
    text-align: center;
  }

  .slider .owl-item .items img {
    width: 275px;
    margin-left: -33%;
  }

  tbody tr {
    border: 0 solid rgba(211,211,211,0.50);
  }

  tr th {
    display: none;
  }

  .right_panel {
    display: none;
  }

  .items_list {
    margin-top: 0;
  }

  .item_logo img {
    padding-top: 8px;
  }

  .item_info {
    width: 100%;
  }

  .list_items {
    display: none;
  }

  .list_items_mobile {
    display: inline-block;
  }

  .items_list {
    display: none;
  }

  .slider_mobile_items {
    display: inline;
  }

  .slider_mobile_items .owl-item .items img {
    margin-left: 0;
  }

  .slider_mobile_items .owl-item .items {
    width: 100px;
    margin: 0;
  }

  .large-12.columns {
    margin-top: 0;
  }

  .right_image {
    display: none;
  }

  .right_image {
    display: none;
  }

  .left_form {
    width: 100%;
    float: center;
  }

  .signup_but {
    width: 80%;
  }

  .signup_but input {
    width: 100%;
  }

  .password {
    width: 80%;
    margin: 0 auto -5px;
    text-align: left;
  }

  .ico {
    display: none;
  }

  .password input {
    width: calc(100% - 18px);
    border-radius: 4px;
  }

  .left_form .signup_form .user_form .mail input{
    width: calc(100% - 30px);
    padding: 0 15px;
  }

  .left_form .signup_form .user_form .password input{
    width: calc(100% - 30px);
    padding: 0 15px;
  }
  .left_form .signup_form .user_form .name input{
    width: calc(100% - 30px);
    padding: 0 15px;
    margin-bottom: 0px;
  }
  .tab_item .user_form .field_with_errors{
    display: block;
  }
  .user_form svg{
    display: none;
  }
  .transfer_panel{
    width: 100%;
  }
  .mail {
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
  }
  .left_form .signup_form .user_form .mail .field_with_errors input{
    margin-bottom: -14px;
  }
  .left_form .signup_form .user_form .password .field_with_errors input{
    margin-bottom: 8px;
  }
  .mail input {
    width: calc(100% - 18px);
    border-radius: 4px;
  }
  .button_box{
    display: none;
  }

  .signup_info_right {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

  .tabs {
    width: 81%;
    margin: 0 auto;
  }

  .tabs a {
    height: 100%;
    width: 100%;
  }

  .tabs .tab {
    width: 49.4%;
  }

  .name {
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
  }

  .name input {
    width: calc(100% - 18px);
    border-radius: 4px;
  }

  .second_text {
    margin: 10px auto 32px;
  }

  .main_text {
    margin-top: 30px;
  }

  .signup_info {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .signup_but {
    margin-bottom: 100px;
  }

  .logo_green img {
    width: 23px;
    height: 50px;
    margin-right: 80px;
  }

  .exit {
    background: transparent;
    width: 20px;
    height: 20px;
    margin-top: -20px;
  }

  .exit img {
    width: 17px;
    height: 17px;
    margin-right: 0;
    margin-top: 20px;
  }

  .main_text {
    width: 80%;
    margin: 30px auto 0;
    line-height: 24px;
  }


  .field_with_errors input {
    border: 1.3px solid red;
  }

  .field {
    width: 100%;
  }

  .attribute {
    width: 100%;
  }

  .custom_attributes {
    width: 93%;
  }

  .field img {
    width: 91%;
  }

  .form .field_title {
    width: 93%;
    margin-top: 15px;
  }

  .form .categories {
    width: 93%;
    margin-top: 15px;
    z-index: 300;
  }

  .actions_but {
    width: 100%;
  }

  .actions_but input {
    width: 91%;
  }

  .actions_but .back {
    margin-top: 15px;
    margin-left: 0;
    width: 91%;
  }

  .field {
    margin-top: 10px;
  }

  .function .transfer {
    width: 100%;
    height: 339px;
    margin-bottom: 0;
  }

  .function .transfer p {
    width: 78%;
  }

  .function .transfer span {
    width: 80%;
    padding: 0 20px;
    margin-left: 8px;
  }

  .function .transfer input {
    width: calc(91% - 40px);
    margin-left: 25px;
    position: inherit;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 0;
  }

  .function .transfer img {
    display: none;
  }

  .function {
    width: 100%;
    margin-left: 0;
  }

  .function .delete {
    width: 100%;
    float: left;
    height: 210px;
  }

  .inputs_trans {
    width: 100%;
  }
  .grey{
    width: 100%;
    margin: 20px 0 0;
  }
  .page_items .item .item_list_panel .inputs_trans {
    width: 47%;
  }

  .function .inputs_trans input:nth-child(2) {
    position: relative;
    height: 50px;
    text-align: center;
    background-position: calc(52% - 51px);
    width: calc(91% - 24px);
    left: 0;
    padding-left: 36px;
  }
  .add_service {
    width: calc(91% - 25px);
    margin: 0;
    margin-left: 25px;
    float: left;
  }

  .function .delete .delete_but {
    top: -40px;
    left: 0;
    text-align: center;
    width: calc(91% - 24px);
    margin-top: 142px;
    margin-left: 25px;
    height: 50px;
  }

  .function .delete img {
    display: none;
  }

  .function .delete input {
    margin-left: 30px;
    float: left;
  }

  .function .delete span {
    padding: 0px 0 10px 30px;
  }

  .function .delete .delete_but a {
    top: 16px;
    position: relative;
  }

  .field .without_photo_input {
    width: 90%;
  }

  .page_items .item {
    width: 47%;
    text-align: center;
  }

  .item .item_list_panel {
    width: 250px;
    margin: 10px auto;
  }

  .page_items .item p {
    text-align: center;
  }

  .page_items .item .add_new_item {
    margin: 1px auto;
  }

  .page_items .item .add_new_item p {
    margin-left: 0;
  }
  .tabs{
    height: 57px;
  }
  .function .delete input[type=password]{
    width: calc(91% - 40px);
    margin-left: 25px;
    float: left;
    padding-right: 0;
  }
  .service_panel {
    width: calc(91% - 25px);
    margin: 0;
    margin-left: 25px;
    float: left;
    text-align: center;
  }
  .service_count.edit{
    border-top: 2px #d3d3d3 solid;
    width: 100%;
    margin-left: 0;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .service_count.edit span{
    font-family: 'MuseoSansCyrl_2';
    font-size:16px;
    color:#1f1f1f;
    letter-spacing:0;
    line-height:16px;
    text-align:left;
    margin-left: 25px;
    margin-right: 20px;
  }
  .item_info span{
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .item_info{
    padding-left: 25px;
    padding-right: 25px;
    width: calc(100% - 50px);
    margin-top: 25px;
    margin-bottom: 5px;
  }
  .service_count{
    margin: 10px 0 15px 25px;
    width: calc(100% - 25px);
  }
  .mobile_notifications_button{
    display: inline-block;
  }
  .notify-link{
    top: 14px;
    width: 40px;
    height: 50px;
    display: block;
    float: right;
    margin-right: 55px;
    position: relative;
    left: 0;
  }
    .alarm-notifications.mobile{
    width: calc(100% - 4px);
    height: calc(101% + 290px);
    position: absolute;
    top: -102%;
    right: 0;
    z-index: 999;
    -webkit-transition: all 500ms cubic-bezier(0.070, 0, 0.285, 1);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
    -moz-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
    -o-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
    transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.070, 0, 0.285, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
    -o-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
    transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);

  }
  .notifications-header .mobile_logo{
    display: inline-block;
  }
  .notifications-header{
    padding-top: 25px;
  }
  .header-title{
    margin-top: 77px;
  }
  .notifications-header .exit_mobile{
    display: inline-block;
  }
  .alarm-notifications.mobile{
    z-index: 602;
  }
  .alarm-notifications.mobile.active{
    border: 0;
    border-radius: 0;
    width: 100%;
    top: 0;
  }
  .alarm-notifications.mobile.active .notifications-header{
    position: fixed;
    background: #ffffff;
    z-index: 600;
    width: calc(100% - 40px)
  }
  .alarm-notifications.mobile.active .alarm-notifications.mobile{
    top: 0px;
    position: absolute;
    height: 100%;
  }
  .user_information p{
    padding-left: 25px;
  }
  .notify-count{
    top: 15px;
    left: 9px;
  }
  .status_notification{
    margin-right: 0px;
    float: left;
    margin-top: 15px;
  }
  .list-item a{
    width: 85%;
  }
  .list-item{
    padding-left: 20px;
  }
  .list-item.read-notification a{
    padding-left: 22px;
  }
  .notifications-list{
    padding-top: 165px;
  }
    .service_create_identity p{
    display: block;
    float: left;
    width: 85%;
  }
  .service_create_identity h1{
    display: block;
    margin-bottom: 20px;
  }
  .service_create_identity{
    text-align: left;
    width: calc(100% - 50px);
  }
  .left_form_service_create{
    width: calc(100% - 50px);
    margin-bottom: 70px;
  }
  .left_form_service_create .form_service_create strong label{
    width: 33.1%;
  }
  .left_form_service_create .form_service_create .half_form_field #service_kind{
    width: 100%;
  }
  .left_form_service_create .form_service_create .half_form_field input{
    width: calc(100% - 17px);
  }
  .left_form_service_create .form_service_create .company_select select{
    width: 100%;
  }
  .left_form_service_create .form_service_create .textarea textarea{
    width: calc(100% - 18px);
    max-width: calc(100% - 18px);
    min-width: calc(100% - 18px);
  }
  .left_form_service_create .form_service_create .select .company_email input{
    width: calc(100% - 17px);
  }
  .left_form_service_create .form_service_create .price input{
    width: calc(100% - 17px);
  }
  .left_form_service_create .form_service_create .line{
    width: 100%;
  }
  .reminders .input.optional.service_reminder_custom input{
    width: calc(100% - 17px);
  }
  .form-actions input{
    display: block;
    width: 100%;
    margin-bottom: 35px;
  }
  .form-actions a{
    margin-left: 0;
    width: 100%;
    display: block;
    padding: 14px 0;
    margin-top: 15px;
  }
  .right_form_service_create{
    display: none;
  }
  .left_form_service_create .form_service_create .half_form_field.half{
    width: 100%;

  }
  .left_form_service_create .form_service_create .half_form_field.half input{
    width: calc(100% - 15px);
  }
  .left_form_service_create .form_service_create .half_form_field.half.first input{
    width: calc(100% - 15px);
  }
  .left_form_service_create .form_service_create .half_form_field.first input{
    width: calc(100% - 15px);
  }
  .left_form_service_create .form_service_create .half_form_field select{
    width: 100%;
  }
  .change_password{
    height: 221px;
  }
  .form-actions.user{
    display: block;
    width:  calc(100% - 50px);
  }
  .left_form_service_create .form_service_create .half_form_field.half.city{
    margin-top: 0;
  }
  .destroy_user input{
    width: calc(100% - 20px);
    padding-right: 0;
  }
  .destroy_user .delete_button{
    display: block;
    text-align: right;
  }
  .destroy_user .delete_button input{
    top: -46px;
    right: 7px;
  }
  .service_create_identity .green{
    margin-left: 0;
  }
  .select.reminder{
  width: 120px;
  }
  .form-actions.user a{
  margin-left: 0px;
  }
  .destroy_user + .edit_user.ng-pristine.ng-valid{
    margin-top: -165px;
  }
  .destroy_user{
    top: 1340px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {}
/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {
  .form .categories {
    width: 94%;
    margin-top: 15px;
  }
}
@media only screen and (max-width : 545px) {
  .page_items .item {
    width: 94%;
    text-align: center;
  }
  .tabs a{
    padding: 20px 27%;
  }
}
@media only screen and (max-width : 510px) {
  .function .delete .delete_but input[type=submit]{
    background-position: calc(56% - 61px);
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .service_panel img {
    height: 15px;
    margin: 0 4px -3px 8px;
  }

  .service_panel img:nth-child(1) {
    margin-left: 0;
  }

  .form .categories {
    width: 95%;
    margin-top: 15px;
  }

  .first_service {
    width: calc(100% - 32px);
    margin: 0;
  }
  .left_form_service_create .form_service_create .service_photos .photo_input{
    width: 100px;
    height: 100px;
  }
  .left_form_service_create .form_service_create .service_photos .photo_input svg{
    top: -95px;
    left: 40px;
  }
}

@media only screen and (max-width : 340px) {
  .slider .owl-item .items img {
    width: 255px;
    margin-left: -38%;
  }

  .form .categories {
    width: 96%;
    margin-top: 15px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .slider .owl-item .items img {
    width: 230px;
    margin-left: -45%;
  }

  .form .categories {
    width: 97%;
    margin-top: 15px;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
/* Small Devices, Tablets */
@media only screen and (min-width : 640px) {}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .field img {}
}
