/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.slider img{
	width: 80%;
	max-width: 740px;
}
.services .row{
	text-align: center;
}
.img_items{
	margin: 0 auto 15px;
}
}

@media only screen and (max-width : 768px) {
.portfolio_box{
	text-align: center;
}
.portfolio_box img{
	width: 100%;
	max-width: 220px;
}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {
	.btn_menu{
		display: block;
	}
	.menu ul{
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		text-align: center;
		background-color: #2d303a;
		top: 96px;
		z-index: 10;
	}
	.menu{
		padding-top: 0;
		padding: 8px 0;
	}
	.menu li{
		display: block;
	}
	.menu{
	padding-top: 0;
	}
	.menu a:before{
		content: "";
	}
	.menu li:hover{
		background-color: #a9a9a9;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 640px) {
	.menu ul{
		display: block !important;
	}
	

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

