/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
	.menu{
		display: none;
	}
	.logo_mobile{
		display: block;
	}
	.logo{
		display: none;
	}
	.text{
		width: 70%;
		margin: 0 10% 40px;
	}
	.content .info{
		font-size: 30px;
		line-height: 32px;
		width: 100%;
	}
	.header{
		height: 81px;
	}
	.info_small{
		font-size: 17px;
		width: 100%;
		line-height: 19px;
	}
	.slider{
		background-color: transparent;
		margin: 0;
		width: 100%;
		height: 320px;

	}
	.container_slider{
	}
	.container_slider p{
		display: none;
	}
	.items{
		width: 500px;
		margin: 0;
	}
	.items img{
		margin: 0 36% 0 0;
	}
	.container_slider .button{
		width: 80%;
	}
	.owl-carousel{
		width: 100%;
	}
	.more_info .more{
		margin: 10px 0 0 0;
	}
	.arrow img{
		margin-bottom: 10px;
	}
	footer{
		height: 300px;
		text-align: center;
	}
	footer .footer{
		padding:40px 10% 0;
		text-align: center;
	}
	.footer ul{
		display: none;
	}
	.footer .contacts{
		display: none;
	}
	.footer .contacts_mobile{
		display: inline-block;
	}
	.telephone_mobile{
		display: inline-block;
	}
	footer hr{
		display: inline-block;
	}
	footer img{
	float: left;
	margin: 20px;
	}
	.btn_menu{
		display: inline-block;
	}
	.menu_mobile{
		display: inline-block
	}
	.owl-item .items img{
	margin-left: -40%;
}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.right_image{
		display: none;
	}

	.right_image{
		display: none;
	}


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 640px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
