/*font-family: 'Lato', sans-serif; #f06c64 #d6564f #f0d8d9*/

body{
	text-align: center;
	letter-spacing: -0.01em;

-webkit-font-smoothing: antialiased;

text-rendering: optimizeLegibility;

-moz-osx-font-smoothing: grayscale;

font-feature-settings: 'liga';
font-family: 'MuseoSansCyrl_1';
}
.green_back{
	background:#149b4c;
}
a{
	text-decoration: none;
	color: #149b4c;

}
.main_page{
	background:#222222;
}
.header.main_page{
	background:#149b4c;

}
.header{
	height: 166px;
}
.logo{
	width: 32px;
	float: left;
	margin: 30px;
}
.logo img{
	width: 32px;

}
.logo_mobile{
	width: 32px;
	float: left;
	margin: 30px;
	display: none;
}
.logo_mobile img{
	width: 49px;

}
.menu{
	width: 600px;
	margin: 30px;
	float: right;
	text-align: right;
}
.menu a{
	color: white;
}
.menu li{
	display: inline-block;
	font-size:14px;
	color:#ffffff;
	letter-spacing:0;
	text-align:left;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 15px;
	font-family: 'MuseoSansCyrl_1';
}
.content{
	width: 100;
	display: block;

}
.text{
	width: 500px;
	float: left;
	margin: 0 0 0 155px;
}

.content .info{
	font-size:76px;
	color:#ffffff;
	letter-spacing:0;
	line-height:76px;
	text-shadow:0 2px 5px rgba(0,0,0,0.05);
	text-align:left;
	width: 443px;
	float: left;
	font-family: 'MuseoSansCyrl_2';
}

.slider{
	background-color:#eaeaea;
	border-radius:4px;
	width:541px;
	height:474px;
	display: inline-block;
	float: right;
	margin-right: 155px;
}
.slider img{
	width: 60%;
	max-width: 740px;
}
.slider .button{
	background:#222222;
	border-radius:4px;
	width:300px;
	padding: 17px 0;
	font-size:16px;
	color:#ffffff;
	letter-spacing:0;
	line-height:16px;
	text-align:center;
	margin: 0 auto;
	cursor: pointer;
	font-family: 'MuseoSansCyrl_1';

}
.slider .button a{
	color:white;
}

.slider p{
	font-family: 'MuseoSansCyrl_1';
	font-size:26px;
	color:#1f1f1f;
	letter-spacing:0;
	line-height:24px;
	margin-top: 40px;
	text-align: center;
}

.owl-carousel{

}
.items{
	width: 540px;
}
.info_small{
	font-family: 'MuseoSansCyrl_1';
	font-size:26px;
	color:#ffffff;
	letter-spacing:0;
	line-height:40px;
	text-shadow:0 2px 5px rgba(0,0,0,0.05);
	text-align:left;
	float: left;
	width: 380px;
	margin-top: 30px;
}

.more{
	opacity:0.7;
	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#ffffff;
	letter-spacing:0;
	line-height:16px;
	text-align:center;
	width: 100%;
	float: left;
	margin-top: 80px;
}
.arrow{
	width: 100%;
	text-align:center;
	float: left;

}
.arrow img{
	width: 11px;
	margin-top: 10px;
	margin-bottom: 34px;
}

footer{
	background:#222222;
	width: 100%;
	float: left;
	height:150px;
}

footer .footer{
	padding: 0 145px;

	&__nav-link {
		color: #ffffff;

		&_hidden {
			display: none;
		}
	}
}
footer ul{
	opacity:0.8;
	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#ffffff;
	letter-spacing:0;
	line-height:16px;
	text-align:left;
	margin: 50px 0 0 0;
}
footer ul li{
	text-decoration:none;
	display: inline-block;
	margin-right: 6px;
}
footer li a {
	color: #ffffff;
}
.contacts{
	opacity:0.4;
	font-family: 'MuseoSansCyrl_1';
	font-size:12px;
	color:#ffffff;
	letter-spacing:0;
	line-height:12px;
	text-align:left;
	float: left;
	margin: 30px 22px 0 0;
}
.contacts_mobile{
	opacity:0.4;
	font-family: 'MuseoSansCyrl_1';
	font-size:14px;
	color:#ffffff;
	letter-spacing:0;
	line-height:12px;
	text-align:center;
	display: none;
}
.contacts a,
.contacts_mobile a {
	color:#ffffff;
}
.telephone_mobile{
	display: none;
	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#c9c9c9;
	letter-spacing:0;
	line-height:16px;
	text-align:center;
	border:1px solid #737373;
	border-radius:75px;
	width:192px;
	height:48px;
	line-height: 48px;
	margin: 30px auto 40px;
}
footer img{
	width: 20px;
	float: right;
	margin: 20px 0 15px 25px;
}
footer hr{
	display: none;
	width: 150%;
	margin-left: -40px;
	color: #737373;
}
.sign_in_content{
	background-color:#ffffff;
}
.left_form{
	width: 50%;
	float: left;

}
.right_image{
	width: 50%;
	display: inline-block;
	background-repeat: no-repeat;
}
.right_image img{
	width: 100%;
	margin-bottom: -4px;
}
.logo_green{
	margin: 30px 0 0 80px;
}
.logo_green img{
	height: 70px;
	cursor:pointer;
}
.exit{
	background-color:#f4f4f4;
	width:40px;
	height:40px;
	border-radius:100%;
	float: right;
	cursor:pointer;
	margin-right: 40px;
}
.exit img{
	width:14px;
	height:14px;
	margin: 13px auto;

}
.welcome_text{
	margin-top: 82px;
	font-family: 'MuseoSansCyrl_1';
	font-size:20px;
	color:#1f1f1f;
	letter-spacing:0;
	line-height:16px;
	text-align:center;
}
.welcome_text_small{
	opacity:0.5;
	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#1f1f1f;
	letter-spacing:0;
	line-height:22px;
	text-align:center;
	width: 340px;
	margin: 20px auto 50px;
}
.tab{
	width:210px;
	height:51px;
	font-family: 'MuseoSansCyrl_2';
	font-size:14px;
	color:#ffffff;
	line-height:14px;
	text-align:center;
	border:1px solid #d3d3d3;
	color:#1f1f1f;
	display: inline-block;
	text-transform: uppercase;
	line-height: 51px;
	margin-bottom: 20px;
	cursor: pointer;
}
.tab a{
	color: black;
}
.tab.active a{
	color: white;
}
.tab:first-child{
	border-radius:4px 0 0 4px;
	border-right: 0.5px;
}
.tab:last-child{
	border-radius:0 4px 4px 0 ;
	border-left: 0.5px;
}
.tab_item{
	display: none;
}
.tab_item:first-child{
	display: block;
}
.tab.active{
	background:#222222;
	color:white;
	border:1px solid #222222;
}
.name{
	margin-bottom: 20px;
}
.mail{
	margin-bottom: 20px;
}
.password{
	margin-bottom: 20px;
}
.user_form input{
	border-radius:0 4px 4px 0 ;
	width:210px;
	height:48.5px;
	border:1px solid #d3d3d3;
	line-height: 20px;
	margin-top: -8.5px;
	border-left: 0.0px;
	padding-left: 17px;
	width: 347px;
	font-family: 'MuseoSansCyrl_1';
	background-repeat: no-repeat;
	background-size: 18px ;
	background-position: 10px 15px;
	background: linear-gradient(left, green 0, green 75%, transparent 75%);
}
.ico{
	display: inline-block;
	background:rgba(31,31,31,0.03);
	border:1px solid #d3d3d3;
	border-radius:4px 0 0 4px;
	width:54px;
	height:50px;
}
.ico img{
	margin-top:17px;
	width:16px;
	height:16px;
}
.signup_but{
	background:#149b4c;
border-radius:4px;
width:420px;

	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#ffffff;
	letter-spacing:0;
	line-height:51px;
	text-align:center;
	height:51px;
	margin: 0 auto 50px;
	cursor: pointer;
}
.signup_info{
	font-family: 'MuseoSansCyrl_1';
	font-size:14px;
	color:#8f8f8f;
	line-height:14px;
	text-align:center;
	padding-top: 10px;
}
.signup_info_right{
	font-family: 'MuseoSansCyrl_1';
	font-size:14px;
	color:#8f8f8f;
	line-height:14px;
	text-align:center;
	text-align: right;
	width: 420px;
	margin:-10px auto 30px;
}
.btn_menu {
  width: 50px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 1.5s;
		  transition: all 1.5s;
  float: right;
  display: none;
  z-index: 150;
  margin: 28px 25px 0 0;
}
.btn_menu.active {
  -webkit-transition: all 1.5s;
		  transition: all 1.5s;
  background-color: transparent;
  z-index: 150;
}
.btn_menu.active .btn_line:first-child {
  -webkit-transform: rotate(-135deg);
	  -ms-transform: rotate(-135deg);
		  transform: rotate(-135deg);
  top: 6px;
  background-color: black;
  z-index: 150;
  -webkit-transition: all 500ms cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */

}
.btn_menu.active .btn_line:last-child {
  -webkit-transform: rotate(-225deg);
	  -ms-transform: rotate(-225deg);
		  transform: rotate(-225deg);
  top: -6px;
  background-color: black;
  z-index: 50;
  -webkit-transition: all 500ms cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */
}
.btn_menu.active .btn_line:nth-child(2) {
  opacity: 0;
}
.btn_menu .btn_line {
  background-color: white;
  height: 2px;
  width: 50%;
  margin: 4px auto;
  position: relative;
  -webkit-transition: all 1.5s;
		  transition: all 1.5s;
		  z-index: 50;
}
.menu_mobile{
	display: none;
	background-color: white;
	z-index: 10;
	height: 840px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: -1000px;
}
.menu_mobile.active{
	left: 0px;
	top: 0px;
-webkit-transition: all 500ms cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */
}
.menu_mobile img{
	width: 49px;
	margin: 28px 0 0 25px;
	float: left;
}
.menu_mobile ul{
}
.info_small{
	font-family: 'MuseoSansCyrl_1';
	font-size:26px;
	color:#ffffff;
	letter-spacing:0;
	line-height:40px;
	text-shadow:0 2px 5px rgba(0,0,0,0.05);
	text-align:left;
	float: left;
	width: 380px;
	margin-top: 30px;
}

.more{
	opacity:0.7;
	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#ffffff;
	letter-spacing:0;
	line-height:16px;
	text-align:center;
	width: 100%;
	float: left;
	margin-top: 80px;
}
.arrow{
	width: 100%;
	text-align:center;
	float: left;

}
.arrow img{
	width: 11px;
	margin-top: 10px;
	margin-bottom: 34px;
}
footer{
	background:#222222;
	width: 100%;
	float: left;
	height:150px;
	z-index: 50;
}
footer .footer{
	padding: 0 145px;
}
footer ul{
	opacity:0.8;
	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#ffffff;
	letter-spacing:0;
	line-height:16px;
	text-align:left;
	margin: 50px 0 0 0;

}
footer ul li{
	text-decoration:none;
	display: inline-block;
	margin-right: 6px;
}
.contacts{
	opacity:0.4;
	font-family: 'MuseoSansCyrl_1';
	font-size:12px;
	color:#ffffff;
	letter-spacing:0;
	line-height:12px;
	text-align:left;
	float: left;
	margin: 30px 22px 0 0;
}
.contacts_mobile{
	opacity:0.4;
	font-family: 'MuseoSansCyrl_1';
	font-size:14px;
	color:#ffffff;
	letter-spacing:0;
	line-height:12px;
	text-align:center;
	display: none;
}
.telephone_mobile{
	display: none;
	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#c9c9c9;
	letter-spacing:0;
	line-height:16px;
	text-align:center;
	border:1px solid #737373;
	border-radius:75px;
	width:192px;
	height:48px;
	line-height: 48px;
	margin: 30px auto 40px;
}
footer img{
	width: 20px;
	float: right;
	margin: 20px 0 15px 25px;
}
footer hr{
	display: none;
	width: 150%;
	margin-left: -40px;
	color: #737373;
}
.sign_in_content{
	background-color:white;
}
.left_form{
	width: 50%;
	float: left;

}
.right_image{
	width: 50%;
	display: inline-block;
	background-repeat: no-repeat;
}
.right_image img{
	width: 100%;
	margin-bottom: -4px;
}
.logo_green{
	margin: 30px 0 0 80px;
}
.logo_green img{
	height: 70px;
	cursor:pointer;
}
.exit{
	background-color:#f4f4f4;
	width:40px;
	height:40px;
	border-radius:100%;
	float: right;
	cursor:pointer;
	margin-right: 40px;
}
.exit img{
	width:14px;
	height:14px;
	margin: 13px auto;

}
.welcome_text{
	margin-top: 82px;
	font-family: 'MuseoSansCyrl_1';
	font-size:20px;
	color:#1f1f1f;
	letter-spacing:0;
	line-height:16px;
	text-align:center;
}
.welcome_text_small{
	opacity:0.5;
	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#1f1f1f;
	letter-spacing:0;
	line-height:22px;
	text-align:center;
	width: 340px;
	margin: 20px auto 50px;
}
.tabs a{
	margin: 0;
	padding: 0;

}
.tab{
	width:210px;
	height:51px;
	font-family: 'MuseoSansCyrl_2';
	font-size:14px;
	color:#ffffff;
	line-height:14px;
	text-align:center;
	border:1px solid #d3d3d3;
	color:#1f1f1f;
	display: inline-block;
	text-transform: uppercase;
	line-height: 51px;
	margin-bottom: 20px;
	cursor: pointer;
}

.tab_item{
	display: none;
}
.tab_item:first-child{
	display: block;
}


.name{
	margin-bottom: 20px;
	width: 100%;
}
.mail{
	margin-bottom: 20px;
	width: 100%;
}
.password{
	margin-bottom: 20px;
	width: 100%;
}
.user_form input{
	border-radius:0 4px 4px 0 ;
	width:210px;
	height:48.0px;
	border:1px solid #d3d3d3;
	line-height: 20px;
	margin-top: -8.7px;
/*	border-left: 2.0px;*/
	padding-left: 17px;
	width: 347px;
	font-family: 'MuseoSansCyrl_1';
}
.tab.user{
	border-radius:4px 0 0 4px;
	border-right: 0.5px;
}
.tab:last-child{
	border-radius:0 4px 4px 0 ;
	border-right: 1.5px;
	border:1px solid #d3d3d3;
}
.tab.active{
	background:#222222;
	color:white;
	border:1px solid #222222;
}

.ico{
	display: inline-block;
	background:rgba(31,31,31,0.03);
	border:1px solid #d3d3d3;
	border-radius:4px 0 0 4px;
	width:54px;
	height:50px;
	margin-right: -5px;
}
.ico img{
	margin-top:17px;
	width:16px;
	height:16px;
}
.signup_but{
	background:#149b4c;
	border-radius:4px;
	width:420px;
	letter-spacing:0;
	line-height:51px;
	text-align:center;
	height:51px;
	margin: 0 auto 100px;
	cursor: pointer;
}
.signup_but input{
	font-family: 'MuseoSansCyrl_1';
	font-size:16px;
	color:#ffffff;
	background-color: transparent;
	border: 0px solid #fff;
	margin-left: -11px;
	margin-bottom: -5px;
}
.signup_info{
	font-family: 'MuseoSansCyrl_1';
	font-size:14px;
	color:#8f8f8f;
	line-height:14px;
	text-align:center;
	padding-top: 10px;
}
.signup_info_right{
	font-family: 'MuseoSansCyrl_1';
	font-size:14px;
	color:#8f8f8f;
	line-height:14px;
	text-align: right;
	width: 420px;
	margin:-10px auto 30px;
	}
.signup_info_right a{
	font-family: 'MuseoSansCyrl_1';
	font-size:14px;
	color:#8f8f8f;
}
.field_with_errors{
	display: inline-block;

}

#error_explanation h2{
	font-family: 'MuseoSansCyrl_1';
	font-size:17px;
	color:#1f1f1f;
	letter-spacing:0;
	line-height:14px;
	text-align:left;
	margin-bottom: 5px;
	-webkit-font-smoothing: antialiased;

text-rendering: optimizeLegibility;

-moz-osx-font-smoothing: grayscale;

font-feature-settings: 'liga';
}
#error_explanation ul{
	list-style-type: none;
}
#error_explanation li{
	font-family: 'MuseoSansCyrl_1';
	text-align:left;
	margin-bottom: 4px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;

text-rendering: optimizeLegibility;

-moz-osx-font-smoothing: grayscale;

font-feature-settings: 'liga';
}
#error_explanation li:last-child{
	margin-bottom: 20px;
}
.btn_menu {
  width: 50px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 1.5s;
		  transition: all 1.5s;
  float: right;
  display: none;
  z-index: 150;
  margin: 28px 25px 0 0;
}
.btn_menu.active {
  -webkit-transition: all 1.5s;
		  transition: all 1.5s;
  background-color: transparent;
  z-index: 150;
}
.btn_menu.active .btn_line:first-child {
  -webkit-transform: rotate(-135deg);
	  -ms-transform: rotate(-135deg);
		  transform: rotate(-135deg);
  top: 6px;
  background-color: black;
  z-index: 150;
  -webkit-transition: all 500ms cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */

}
.btn_menu.active .btn_line:last-child {
  -webkit-transform: rotate(-225deg);
	  -ms-transform: rotate(-225deg);
		  transform: rotate(-225deg);
  top: -6px;
  background-color: black;
  z-index: 50;
  -webkit-transition: all 500ms cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */
}
.btn_menu.active .btn_line:nth-child(2) {
  opacity: 0;
}
.btn_menu .btn_line {
  background-color: white;
  height: 2px;
  width: 50%;
  margin: 4px auto;
  position: relative;
  -webkit-transition: all 1.5s;
		  transition: all 1.5s;
		  z-index: 50;
}

.menu {
	&__nav-link_hidden {
		display: none;
	}
}

.menu_mobile{
	display: none;
	background-color: white;
	z-index: 10;
	height: 840px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: -1000px;
}
.menu_mobile.active{
	left: 0px;
	top: 0px;
-webkit-transition: all 500ms cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.070, 0, 0.285, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
   -moz-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
	 -o-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
		transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650); /* custom */
}
.menu_mobile img{
	width: 49px;
	margin: 28px 0 0 25px;
	float: left;
}
.menu_mobile ul{
	margin: 100px 0 0 30px;
	font-family: 'MuseoSansCyrl_2';
font-size:16px;
color:#222222;
letter-spacing:0;
line-height:16px;
text-align:left;
}
.menu_mobile li{
	margin-bottom: 40px;
	list-style-type: none;
	cursor: pointer;
}
.menu_mobile .button{
	background:#222222;
	border-radius:4px;
	padding: 17px 0;
	font-size:16px;
	color:#ffffff;
	letter-spacing:0;
	line-height:16px;
	text-align:center;
	margin: 0 auto;
	cursor: pointer;
	font-family: 'MuseoSansCyrl_1';
	margin-top: 190px;
	width: 80%;
}
.menu_mobile .telephone_contact{
	background:white;
	border-radius:4px;
	padding: 17px 0;
	font-size:16px;
	color:#1f1f1f;
	letter-spacing:0;
	line-height:16px;
	text-align:center;
	margin: 0 auto;
	cursor: pointer;
	font-family: 'MuseoSansCyrl_1';
	margin-top: 20px;
	width: 80%;
	border:1px solid #737373;
}
.tab.user{
	border-radius:4px 0 0 4px;
	border-right: 0.5px;
	margin-right: -5px;
}
.bacground_green{
	background-color:#149b4c;
	height:625px;
	position: relative;
	top:0;
}
.owl-item{
	text-align: center;
}
	.owl-item .items img{
	margin:0;

}
.errors_reg{
	width: 420px;
	margin: 0 auto;
	font-family: 'MuseoSansCyrl_1';
	font-size:14px;
	color:#ff3c00;
	letter-spacing:0;
	line-height:14px;
	text-align:center;
	margin-bottom: 20px;
}
.errors_reg h2{
	display: none;
}

.errors_reg #error_explanation ul li{
	display: inline-block;
}

.alert{
	color:#ff3c00;
	font-family: 'MuseoSansCyrl_2';
	margin-bottom: 15px;
	font-size:14px;
}
.field_with_errors input{
		border: 1.3px solid red;
}
.item_header{
	background:#f2f2f2;
	width: 100%;
}
.item_logo{
	margin-left: 22px;
}
.item_logo img{
	width: 49px;
	float: left;
	margin-top: 20px;
}
.right_panel{
	padding-top: 20px;
}
.right_panel span{
	float: right;
	text-transform: uppercase;
	font-family: 'MuseoSansCyrl_2';
	font-size: 15px;
	margin-top: 2px;
}
.right_panel span a{
	color: black;
}
.right_panel img{
	width: 20px;
	float: right;
	margin-right: 30px;
}
.more_menu img{
	width: 13px;
	margin: 5px 25px 0 10px;
}
.items_list{
	width: 100%;
	height: 100px;
	margin-top: 50px;
}
.all_items{
	width: 100px;
	height: 75px;
	background-color: #ffffff;
	float: left;
	margin: 0 20px 20px 21px;
	border-radius:4px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.3);
}
.all_items span{
	font-family: 'MuseoSansCyrl_2';
	font-size:14px;
	color:#149b4c;
}
.all_items p{
	font-family: 'MuseoSansCyrl_2';
	font-size:14px;
	color:#149b4c;
}
.current_items{
	float: left;
	border-radius:4px;
	cursor: pointer;
}
.current_items img{
	width: 100px;
	height: 75px;
	border-radius:4px;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.3);
	margin-right: 15px;
}
.item_info{
	font-family: 'MuseoSansCyrl_2';
	font-size:16px;
	color:#1f1f1f;
	text-align: left;
	float: left;
}
.item_info span{
	float: left;
	margin: 30px 5px 0 22px;
}
.item_info ul{
	width: 500px;
	float: left;
	margin-top: 30px;
}
.item_info span{
	display: none;
	margin-bottom: 20px;
}
.item_info span:nth-child(1){
	display: inline-block;
}
.item_info span:nth-child(2){
	display: inline-block;
	margin-left: 0;
}
.item_info span:nth-child(3){
	display: inline-block;
	margin-left: 0;
}
.item_info span:nth-child(4){
	display: inline-block;
	margin-left: 0;
}
.select {
	input {
		display: none;
	}
	input {
		&:checked+i {
			&:before, img{
				transform: scale(1);
			}
		}
	}
	i {
		display: inline-block;
		width: 18px;
		height:18px;
		border: 2px solid #8f8f8f;
		border-radius: 3px;
		img {
			width: 18px;
			transform: scale(0);
			transition: .6s;
		}
		&:hover {
			border-color: #149b4c;
			&:before {
				background-color: #00bb4d;
			}
		}
		&:before {
			content: '';
			position: absolute;
			background-color: #149b4c;
			border-radius: 3px;
			width: 22px;
			height:22px;
			margin:-2px 0 0 -2px;
			transform: scale(0);
			transition: .2s;
		}
		&.partial {
			img {
				display: none;
			}
			&::before {
				content: "_";
				font-weight: bold;
				background-color: transparent;
				text-align: center;
			}
			&:hover {
				&::before {
					color: #149b4c;
				}
			}
		}
	}
}
.add_service{
	background:#149b4c;
	border-radius:4px;
	width:280px;
	height:42px;
	float: right;
	color: white;
	line-height: 42px;
	font-family: 'MuseoSansCyrl_2';
	font-size: 14px;
	margin: 17px 22px 0 0;
}
.list_items{
	font-family: 'MuseoSansCyrl_1';
	font-size: 15px;
	width: calc(100% - 44px);
	text-align: left;
	position: inherit;
	margin: 95px 22px 0 22px;
	thead {
		th {
			color: #8f8f8f;
			font-weight: 100;
			padding: 20px;
			&:last-child{
				text-align: right;
			}
		}
	}
	tbody {
		tr {
			border: 1px solid rgba(211,211,211,0.50);
			td {
				.approved {
					background: asset-url("status-approved") no-repeat 0 0;
				}
				.pending {
					background: asset-url("status-pending") no-repeat 0 0;
				}
				.declined {
					background: asset-url("status-declined") no-repeat 0 0;
				}
				.control-action {
					background: asset-url("control-action") no-repeat 0 0;
				}
				.change-action {
					background: asset-url("change-action") no-repeat 0 0;
				}
				.tuning-action {
					background: asset-url("tuning-action") no-repeat 0 0;
				}
				.icon_service {
					padding-left: 20px;
					background-size: 17%;
				}
				&.actions {
					width: 20px;
				}
				&:nth-child(2) {
					&:hover {
						color: #00bb4d;
					}
				}
			}
			&:hover {
				border: 1px solid #149b4c;
				background-color: rgba(211,211,211,0.20);
			}
			&:hover, &.viewing {
				td {
					&.actions {
						a {
							background: asset-url("eye") no-repeat 0 0;
							background-size: 28px;
							width: 10px;
							display: block;
						}
					}
				}
			}
			&.selected {
				background: rgba(213,235,219,0.15);
				border: 1px solid #149b4c;
			}
		}
		td {
			padding: 12px 20px 17px;
			&:nth-child(3),
			// &:nth-child(4),
			&:nth-child(6)
			{
				color:#8f8f8f;
			}
			&:last-child
			{
				padding: 0px 20px ;
				margin: 0;
				margin-bottom: -14px;
			}
		}
	}
}
.btn_menu.black .btn_line{
	background-color: black;
}
.list_items_mobile{
	display: none;
	width: 100%;
	margin-top: 20px;
}
.checkbox.mobile{
	display: inline-block;
	float: left;
	position: relative;
	margin-bottom: 50px;
}
.service_mobile{
	position: inherit;
	font-family: 'MuseoSansCyrl_1';
	text-align: left;
	border: 1px solid rgba(211,211,211,0.50);
	width: calc(100% - 56px);
	border-right: none;
	padding: 20px 40px 5px 15px;
}
.service_mobile p{
	margin: 0 0 15px 40px;
	width:230px;
}
.service_mobile .select{
	float: left;
	width: 25px;
}
.tabs .tab:nth-child(2){
		margin-left: 1px;
}
.service_mobile p span{
	margin: 0 15px 0 0;
}
.large-12.columns{
	padding-top: 25px;
	background-color: #f2f2f2;
}
.slider_mobile_items {
	.owl-item {
		img{
			border-radius:4px;
			cursor: pointer;
			box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.3);
		}
		.items{
			width: 100px;
		}
	}
	.all_items{
		margin: 0;
	}
	.owl-wrapper{
		margin:0 0 20px 20px;
	}
}

.slider_mobile_items .owl-item img{
	width: 150px;
	height: 112.5px;
}
.all_items{
	width: 150px;
	height: 112.5px;
}
.all_items span{
	line-height: 112.5px;
	font-size:18px;
}
.all_items p{
	font-size:26px;
	line-height: 112.5px;
}
.icon_service{
	float: left;
	margin: 0 ;
}
.icon_service img{
	width: 13px;
	margin-right: 10px;
}
.service_panel {
	background:#edf9f1;
	border-radius:4px;
	width:280px;
	height:42px;
	float: right;
	color: #149b4c;
	line-height: 42px;
	font-family: 'MuseoSansCyrl_2';
	font-size: 14px;
	margin: 17px 22px 0 0;
	text-align: center;
	a {
		margin: 0 25px 0 0;
		&.view {
			background: asset-url("eye") no-repeat 0 center;
			background-size: 33%;
			padding-left: 32px;
			&.disabled {
				color: #149b4c;
			}
			&:hover {
				background: asset-url("eye-hovered") no-repeat 0 center;
				background-size: 33%;
			}
		}
		&.delete {
			background: asset-url("delete") no-repeat 0 0;
			background-size: 20%;
			padding-left: 25px;
			&.disabled {
				color: #149b4c;
			}
			&:hover {
				background: asset-url("delete-hovered") no-repeat 0 0;
				background-size: 20%;
			}
		}
		&.disabled {
			opacity: 0.3;
			cursor: default;
		}
		&:hover {
			color: #00bb4d;
		}
	}
	img {
		height: 15px;
		margin: 0 7px -3px 18px;
		&:nth-child(1){
			margin-left: 0;
		}
	}
}
.menu_mobile a{
	color: black;
}
.grey{
	width: 300px;
	color: #8f8f8f;
	margin: 30px 5px 0 10px;
	float: left;
}
.function{
	width: calc(100% - 44px);
	margin: 50px 11px 50px 22px;
}
.function .transfer{
	width: calc(66.6% - 11px);
	background:#f9f9f9;
	border-radius:5px;
	height:133px;
	float: left;
	margin-bottom: 60px;
	position: relative;

}
.function .transfer p{
	padding: 30px;
	width: 45%;
	font-family: 'MuseoSansCyrl_1';
	font-size:14px;
	color:#8f8f8f;
	letter-spacing:0;
	line-height:24px;
	text-align:left;
	float:left;
}
.function .transfer span{
	font-family:'MuseoSansCyrl_1';
	font-size:13px;
	color:#8f8f8f;
	letter-spacing:0;
	line-height:13px;
	text-align:left;
	float: left;
	padding-top:30px;
	width: 45%;
	margin-left: 2.5%;
}
.function .transfer input{
	float: left;
	background: #ffffff;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	width: calc(100% - 44px);
	height: 49px;
	margin-top: 10px;
	font-size: 14px;
	padding-left: 15px;
	margin-right: 6%;
	position: absolute;
	right: 0;
	font-family: 'MuseoSansCyrl_1';
	font-size: 16px;
}
.function .delete{
	width: calc(33.3% - 11px);
	float: right;
	background:#f9f9f9;
	border-radius:5px;
	height:133px;
	position: relative;
}
.function .delete span{
	font-family:'MuseoSansCyrl_1';
	font-size:13px;
	color:#8f8f8f;
	letter-spacing:0;
	line-height:13px;
	text-align:left;
	float: left;
	padding:30px 0 10px 7.5%;
	width: 75%;
}
.function .delete input{
	float: right;
	background: #ffffff;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	width: 83%;
	height: 49px;
	font-size: 14px;
	padding-left: 15px;
	margin-left: 7.5%;
	letter-spacing: 5px;
	margin-right: 24px;
}
.form{
	text-align: left;
	margin-left: 22px;
	margin-top: 70px;
}
.form .field_title{
	width: 32%;
	float: left;
}
.form .field_title p{
	font-family: 'MuseoSansCyrl_1';
	font-size: 16px;
	color: #8f8f8f;
	letter-spacing: 0;
	line-height: 17px;
	margin-bottom: 10px;

}
.form span{
	width: 40px;
	color: red;
}
.form .field_title input{
	width: 93%;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	font-size: 16px;
	height: 49px;
	padding-left: 15px;
	float: left;
}
.form .categories {
	text-align: left;
	width: 32.5%;
	float: left;
	height: 84px;
}

.form .categories p{
	font-family: 'MuseoSansCyrl_1';
	font-size: 16px;
	color: #8f8f8f;
	letter-spacing: 0;
	line-height: 17px;
	margin-bottom: 10px;
}
.form .categories select{
	width: 95%;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	font-size: 16px;
	height: 52px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
	float: left;
	margin-bottom: 1px;
}

.form .categories select, option:checked{
	color: #149b4c;
}
option{
	color: black;
}

.custom_attributes{
	padding-top: 15px;
	float: left;
	width: 65%;
	text-align: left;
}
.custom_attributes label{
	font-family:'MuseoSansCyrl_1';
	font-size:16px;
	color:#8f8f8f;
	letter-spacing:0;
	line-height:17px;

}
.custom_attributes input{
	width: 93%;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	font-size: 16px;
	height: 49px;
	padding-left: 15px;
	margin-bottom: 17px;
}

.second .custom_attributes input{
	width: 97.5%;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	font-size: 16px;
	height: 49px;
	padding-left: 15px;
	margin-bottom: 17px;
}
.atribut p{
	margin-bottom: 10px;
}
.atribut{
	width: 49.5%;
	display: inline-block;
}
.field{
	width: 35%;
	float: right;
	margin-top: -78px;
	position: relative;
}
.field img{
	border:1px solid #d3d3d3;
	border-radius:4px;
	width: 96%;
	z-index: 200;
}
.field p{
	font-family:'MuseoSansCyrl_1';
	font-size:16px;
	color:#8f8f8f;
	letter-spacing:0;
	line-height:17px;
	margin-top: -6px;
	margin-bottom: 9px;
}
.field input{
	color: transparent;
	position: absolute;
	left: 0;
	width: 96%;
	height:100%;
	background-color: transparent;
	z-index: 100;
	opacity: 0;

}
.actions{
	float: left;
	width: calc(100% - 44px);
	margin: 10px 0;
}
.actions_but{
	float: left;
	width: calc(100% - 44px);
	margin: 10px 0;
}
.actions_but input{
	background:#149b4c;
	border-radius:4px;
	width:170px;
	height:42px;
	border: 0 solid white;
	font-family:'MuseoSansCyrl_2';
	font-size:14px;
	color:#ffffff;
	letter-spacing:0;
	line-height:14px;
	text-align:center;
	display: inline-block;
}
.actions_but a{
	color:#8f8f8f;
	line-height:42px;
	padding: 11px 26px;
}
.actions_but .back{
	background:#f9f9f9;
	border-radius:4px;
	width:170px;
	height:42px;
	border: 0 solid white;
	font-family:'MuseoSansCyrl_2';
	font-size:14px;
	color:#8f8f8f;
	letter-spacing:0;
	text-align:center;
	display: inline-block;
	margin-left: 15px;
}
.function .inputs_trans input:nth-child(2){
	position: absolute;
	background: #d5ebdb;
	border-radius: 4px;
	width: 34%;
	height: 32%;
	top: 5px;
	right: 1.5%;
	border: 0 solid white;
	font-family: 'MuseoSansCyrl_2';
	font-size: 14px;
	color: #149b4c;
	letter-spacing: 0;
	line-height: 14px;
	text-align: right;
	padding-right: 26px;
}
.inputs_trans{
	position: relative;
	height: 133px;
	float: right;
	width: 47%;
}
.function .transfer img{
	position: absolute;
	width: 20px;
	top: 28px;
	right: 32%;
	z-index: 200;
}
.function .delete img{
	position: absolute;
	width: 17px;
	right: 121px;
	top: 10px;
}
.delete_but{
	position: absolute;
	background: rgba(255, 60, 0, 0.2);
	border-radius: 4px;
	width: 31%;
	height: 32%;
	top: 58px;
	right: 29px;
}
.function .delete .delete_but span{
	position: absolute;
	font-family:'MuseoSansCyrl_2';
	font-size:14px;
	color:#ff3c00;
	letter-spacing:0;
	line-height:14px;
	text-align:center;
	padding: 10px;
	top: 6px;
	right: -7px;
}

.viewing .actions{
	padding:0 15px;
	margin: 0;
}
.actions a{
	color:#8f8f8f;
	line-height:42px;
	padding: 11px 26px;
	line-height: 9px;
}
.new_item.ng-pristine.ng-valid{
	color: red;
}

.custom_attributes .atribut select{
	width: 95%;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	font-size: 16px;
	height: 52px;
	padding-left: 15px;
	background-color: #fff;
	float: left;
	margin-bottom: 15px;
}

.custom_attributes .atribut select, option:checked{
	color: #149b4c;
}.transfer_panel{
	text-align: left;
	position: relative;
}
.transfer_panel .view{
	position: absolute;
	top: 0;
	color: white;
	font-family:'MuseoSansCyrl_2';
	z-index: 100;
	height: 55%;
	text-align: center;
	width: 100%;
	padding-top: 31%;
	-webkit-transition: all 2900ms cubic-bezier(1.000, 0.000, 1.000, 0); /* older webkit */
-webkit-transition: all 2900ms cubic-bezier(1.000, 0.000, 1.000, -0.325);
   -moz-transition: all 2900ms cubic-bezier(1.000, 0.000, 1.000, -0.325);
	 -o-transition: all 2900ms cubic-bezier(1.000, 0.000, 1.000, -0.325);
		transition: all 2900ms cubic-bezier(1.000, 0.000, 1.000, -0.325); /* custom */

-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 1.000, 0); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 1.000, -0.325);
   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 1.000, -0.325);
	 -o-transition-timing-function: cubic-bezier(1.000, 0.000, 1.000, -0.325);
		transition-timing-function: cubic-bezier(1.000, 0.000, 1.000, -0.325); /* custom */
}
.transfer_panel .view:hover{
	opacity: 0;
	-webkit-transition: all 70ms cubic-bezier(0.530, 0, 0.930, 0); /* older webkit */
-webkit-transition: all 70ms cubic-bezier(0.530, -0.015, 0.930, -0.070);
   -moz-transition: all 70ms cubic-bezier(0.530, -0.015, 0.930, -0.070);
	 -o-transition: all 70ms cubic-bezier(0.530, -0.015, 0.930, -0.070);
		transition: all 70ms cubic-bezier(0.530, -0.015, 0.930, -0.070); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.530, 0, 0.930, 0); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.530, -0.015, 0.930, -0.070);
   -moz-transition-timing-function: cubic-bezier(0.530, -0.015, 0.930, -0.070);
	 -o-transition-timing-function: cubic-bezier(0.530, -0.015, 0.930, -0.070);
		transition-timing-function: cubic-bezier(0.530, -0.015, 0.930, -0.070); /* custom */
}
.transfer_panel .view:hover + .receive{
	opacity: 100;
	webkit-transition: all 600ms cubic-bezier(0.030, 0, 0.000, 1); /* older webkit */
-webkit-transition: all 600ms cubic-bezier(0.030, -0.010, 0.000, 1.205);
   -moz-transition: all 600ms cubic-bezier(0.030, -0.010, 0.000, 1.205);
	 -o-transition: all 600ms cubic-bezier(0.030, -0.010, 0.000, 1.205);
		transition: all 600ms cubic-bezier(0.030, -0.010, 0.000, 1.205); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.030, 0, 0.000, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.030, -0.010, 0.000, 1.205);
   -moz-transition-timing-function: cubic-bezier(0.030, -0.010, 0.000, 1.205);
	 -o-transition-timing-function: cubic-bezier(0.030, -0.010, 0.000, 1.205);
		transition-timing-function: cubic-bezier(0.030, -0.010, 0.000, 1.205); /* custom */

}

.red_col{
	background-color: rgba(255, 0, 0, 0.4);
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 112.5px;
}
.transfer_panel .receive{
	position: absolute;
	top: 0;
	color: white;
	font-family:'MuseoSansCyrl_2';
	z-index: 90;
	height: 55%;
	text-align: center;
	width: 100%;
	padding-top: 31%;
	opacity: 0;
	-webkit-transition: all 2900ms cubic-bezier(1.000, 0, 1.000, 0); /* older webkit */
-webkit-transition: all 2900ms cubic-bezier(1.000, -0.005, 1.000, -0.410);
   -moz-transition: all 2900ms cubic-bezier(1.000, -0.005, 1.000, -0.410);
	 -o-transition: all 2900ms cubic-bezier(1.000, -0.005, 1.000, -0.410);
		transition: all 2900ms cubic-bezier(1.000, -0.005, 1.000, -0.410); /* custom */

-webkit-transition-timing-function: cubic-bezier(1.000, 0, 1.000, 0); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(1.000, -0.005, 1.000, -0.410);
   -moz-transition-timing-function: cubic-bezier(1.000, -0.005, 1.000, -0.410);
	 -o-transition-timing-function: cubic-bezier(1.000, -0.005, 1.000, -0.410);
		transition-timing-function: cubic-bezier(1.000, -0.005, 1.000, -0.410); /* custom */
}
.transfer_panel .receive a{
	color: green;
	cursor: pointer;
	z-index: 2000;
}
.transfer_panel .receive p{
	margin-top: 35%;
}

.all_items_first{
	width: 150px;
	height: 112.5px;
	margin: 0;
}
.all_items_first span{
	line-height: 112.5px;
	font-size:18px;
}
.all_items_first p{
	font-size:26px;
	line-height: 112.5px;
}
.all_items_first{
	width: 273px;
	height: 114px;
	background-color: #ffffff;
	float: left;
	margin: 0 20px 20px 21px;
	border-radius:4px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.3);
}
.all_items_first span{
	font-family: 'MuseoSansCyrl_2';
	font-size:14px;
	color:#149b4c;
}
.all_items_first p{
	font-family: 'MuseoSansCyrl_2';
	font-size:14px;
	color:#149b4c;
}
.first_content{
	width: 100%;
	text-align:center;
}
.circle{
	background:#e8f5ed;
	width:100px;
	height:100px;
	border-radius:100%;
	margin-left: calc(50% - 50px);
	margin-top: 180px;
	margin-bottom: 30px;
}
.circle .plus{
	font-size: 89px;
	color: #149b4c;
	opacity:0.9;
}
.first_content p{
	margin-bottom: 8px;
	font-size:16px;
	color:#1f1f1f;
	opacity:0.5;
}
.first_content p:last-child{
	margin-top: 8px;
}
.first_service{
	text-align: left;
	margin-left: 29px;
	padding:15px;
	border:1px solid rgba(211,211,211,0.50);
	width: calc(100% - 85px);
}
.first_service p {
	color: #8f8f8f;
	line-height: 22px;
}
.icon_service.change-action:nth-child(2){
	margin-left: 8px;
}
.icon_service.change-action:nth-child(3){
	margin-left: 8px;
}
.login-button {
	$vertical-margin: 10px;
	display: block;
	float: left;
	margin: $vertical-margin 0 0 0;
	width: 200px;

	&.google {
		background: no-repeat image-url("btn_google_signin_dark_pressed_web") center;
		background-size: 170px;
		height: 40px;
	}
	&.facebook {
		background: no-repeat image-url("login_fb_button") center;
		background-size: 200px;
		height: 32px;
		margin: ($vertical-margin + 4) 0 0 0;
	}
	&.twitter {
		background: no-repeat image-url("sign-in-with-twitter-gray") center;
		height: 30px;
		clear: both;
	}
	&.linkedin {
		background: no-repeat image-url("Sign-In-linkedin-Small---Default") center;
		background-size: 200px;
		height: 30px;
	}
}
.field .without_photo_input{
	height: 235px;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	width: 95%;
	text-align: center;
	padding-top: 206px;
}
.field .without_photo_input input{
	height: 440px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 20px;
}
.field .without_photo_input span{
	font-family:'MuseoSansCyrl_2';
	font-size:14px;
	color:#149b4c;
	letter-spacing:0;
	line-height:14px;
}
.right_panel.list{
	height: 42px;
}
.page_items{
	height: 100%;
	margin-left: 15px;
}
.page_items p{
	font-size: 16.5px;
	font-family:'MuseoSansCyrl_2';
	text-align: left;
	margin: 20px;
	margin-left: 12px;
}
.page_items .item{
	width: 260px;
	text-align: center;
	float: left;
	margin: 10px 7.5px;
	height: 344px;
}
.page_items .item img{
	width: 250px;
	height: 175px;
	border-radius:4px;
	border:1.5px solid rgba( 0, 0, 0, 0.0);
	margin-bottom: 10px;
}
.page_items .item img:hover{
	border:1.5px solid #149b4c;
}
.page_items .item p{
	font-size: 17px;
	margin: 8px 0 0 8px;
}
.page_items .item .add_new_item{
	border-radius: 4px;
	border:1px solid #d3d3d3;
	width: 247px;
	height: 174px;
	margin: 1px;
}
.page_items .item .add_new_item p{
	color: #149b4c;
	margin-top: 82px;
	font-size: 14px;
	margin-left: 64px;
}
.item .item_list_panel{
	background: #edf9f1;
	border-radius: 4px;
	color: #149b4c;
	line-height: 42px;
	font-family: 'MuseoSansCyrl_2';
	font-size: 14px;
	text-align: center;
	width: 97%;
	margin-left: 1.5%;
	margin-top: 10px;
	position: relative;
}
.page_items .item .item_list_panel img:hover{
	border:0.1px solid rgba( 0, 0, 0, 0.0);
}
.page_items .item .item_list_panel img{
	width: 21px;
	border:0.1px solid rgba( 0, 0, 0, 0.0);
	height: 15px;
	float: left;
	padding: 12px 10px;
}
.page_items .item .item_list_panel span{
	float: left;
}
.page_items .item .item_list_panel .transfer_button{
	margin-left: 129px;
	cursor: pointer;
}
.page_items .item .item_list_panel .transfer_button img{
	padding-right: 0px;
}
.transfer_form_list input:nth-child(1){
	position: absolute;
	top: 6px;
	left: -133px;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	height: 37px;
	padding-left: 13px;
	width: 130%
}
.transfer_form_list input:nth-child(2){
	position: absolute;
	border: 1px solid rgba( 0, 0, 0, 0.0);
	border-radius: 4px;
	height: 41px;
	top:5.5px;
	background: #edf9f1;
	color: #149b4c;
	font-family: 'MuseoSansCyrl_1';
	font-size: 14px;
	left: 41px;
}
.page_items .item .item_list_panel .inputs_trans img{
	display: none;
}
.transfer_form_list input:nth-child(1){

-webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
		-o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
			transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
		-o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
			transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

-ms-transform: scale(1, 0.0);
	-webkit-transform: scale(1, 0.0);
	-o-transform: scale(1, 0.0);
	-moz-transform: scale(1, 0.0);
	transform: scale(1, 0.0);
	transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	-webkit-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
}
.transfer_form_list.active input:nth-child(1){
	-ms-transform: scale(1, 1.0);
	-webkit-transform: scale(1, 1.0);
	-o-transform: scale(1, 1.0);
	-moz-transform: scale(1, 1.0);
	transform: scale(1, 1.0);
	transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	-webkit-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
}

.transfer_form_list input:nth-child(2){

-webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
		-o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
			transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
		-o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
			transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

-ms-transform: scale(1, 0.0);
	-webkit-transform: scale(1, 0.0);
	-o-transform: scale(1, 0.0);
	-moz-transform: scale(1, 0.0);
	transform: scale(1, 0.0);
	transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
	-o-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	cursor: pointer;
}
.transfer_form_list.active input:nth-child(2){
	-ms-transform: scale(1, 1.0);
	-webkit-transform: scale(1, 1.0);
	-o-transform: scale(1, 1.0);
	-moz-transform: scale(1, 1.0);
	transform: scale(1, 1.0);
	transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
	-o-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
}
